-#
  %link{:rel => "stylesheet", :href => "node_modules/highlight.js/styles/darcula.css"}
  %script{:src => "node_modules/jquery/dist/jquery.js"}
  %script{:src => "node_modules/highlight.js/lib/highlight.js"}
  %script{:src => "highlightInit.js"}
  %link{:href => "https://fonts.googleapis.com/css?family=Cousine", :rel => "stylesheet"}
%link{:rel => "stylesheet", :href => "style.css"}