%nav
  %span
    %span
      %shnb
      %span.hidesmllr850 cat navbar.html
    %span
      %span.xml.ragged-right
        %navlink Projects|#projects
        %navlink Blog|https://ma124.github.io/Blog
        %navpiclink octocat.png|https://github.com/Ma124
