!!!html
%html
  /
    Ma_124's Page
    Copyright (C) 2018 Ma_124

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

  %head
    %title Ma_124
    %include _head.haml
    %script{:src => "shell.js"}
  %body
    %include _navbar.haml
    %sh ls projects -o
    %lsentrylnk Mar  25, 2018  BeSafe!|https://github.com/Ma124/BeSafe
    %lsentrylnk Apr  10, 2018  Licenses|https://github.com/Ma124/Licenses
    %lsentrylnk Apr  24, 2018  Dash|https://github.com/Ma124/Dash
    %sh ls blog -o --recent
    %lsentrylnk Apr  11, 2018  How to write a Copyright Notice|https://github.com/Ma124/Licenses/blob/master/howto_copyright.md
    %sh cat fav_langs.md
    .md
      .heading
        Favourite Languages
        %br
        =====================
      %br
      %mdlistitem Go
      %mdlistitem Python
      %a.invlnk{:href => "java_bbq.jpg"}
        %mdlistitem Groovy
    %sh cat copyright.asc
    .ascii-doc
      %a{:href => "license.html"}
        %asciidoclnk Copyright (C) 2018 Ma_124|ma124.js.org/license.html
        %br
    %shnb
    %input{:autofocus => false, :keypress => "sendCmd(this)"}
